<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="springWSEndpoint" class="org.naba.mdlwr.endpoint.SpringWSEndPoint"></bean>
	<bean id="springWS" class="org.naba.mdlwr.pojo.TestSpringWS"></bean>
</beans> 
